<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row text-center col-md-12">
        <ul class="list-inline">
          <li>
            <a href="#">Words Here</a>
          </li>
          <li>
            <a href="#">Words Here</a>
          </li>
          <li>
            <p>&copy; Weave Code 2016</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
