<div class="container-fluid">
  <div class="row pad">
    <div class="col-md-12">
      <div class="col-md-3">
        <img src="/img/logo.png" class="img img-responsive" />
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control input-lg" placeholder="Search" />
          <span class="input-group-btn">
      <button class="btn btn-link btn-lg" type="button">
      <i class="fa fa-search"></i>
      </button>
      </span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row pull-right">
          <div class="btn-group">
            <button class="btn btn-link">
          <p>Logged In User <strong>John Smith</strong></p>
        </button>
            <button data-toggle="dropdown" class="btn btn-link dropdown-toggle">
          <span><i class="fa fa-cog"></i></span>
        </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="#">Logout</a>
              </li>
              <li class="divider">
              </li>
              <li>
                <a href="#">Account</a>
              </li>
              <li>
                <a href="#">Settings</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar bg-grey navbar-static-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
  </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Projects</a>
            </li>
            <li>
              <a href="#">News</a>
            </li>
            <li>
              <a href="#">Careers</a>
            </li>
            <li class="active">
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Case Studies</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Customers</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
