<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{ with .Title }}
  <title>
    {{ . }}
  </title>
  {{ end }}
  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">
  {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,700,400italic">
  <!-- Custom stylesheet - for your changes -->
  <link href="{{ " css/custom.css " | absURL }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ " img/favicon.png " | absURL }}">
  <script src="https://use.fontawesome.com/4747d337e1.js"></script>
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
  {{ partial "scripts.html" . }}
</head>
