<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  {{ block "main" }}
  {{ partial "footer.html" . }}
  </div>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/592d6e134374a471e7c50805/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
    Tawk_API.onStatusChange = function(status) {
      if (status === 'online') {
        document.getElementById('status').innerHTML = '<a href="javascript:void(Tawk_API.toggle())">Online - Click to chat</a>';
      } else if (status === 'away') {
        document.getElementById('status').innerHTML = 'We are currently away';
      } else if (status === 'offline') {
        document.getElementById('status').innerHTML = 'Live chat is Offline';
      }
    };
  </script>
  <!--End of Tawk.to Script-->
</body>

</html>
